/* NavBar.css */
.navbar {
  display: flex;
  justify-content: space-between; /* Space between left (logo) and right (menu items) */
  align-items: center; /* Center items vertically */
  padding: 1rem;
  background-color:darkred;
  height: 5vh;
  font-family: 'Dancing Script'; /* Ensure Dancing Script is applied */
  color: wheat;
  transition: opacity 0.3s ease, transform 0.3s ease;
  opacity: 1;
}

.nav-item {
  padding: 1px 0;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.nav-item.with-border {
  border-bottom: 3px solid transparent; /* Default: invisible */
  transition: border-color 0.3s ease; /* Smooth hover effect */
}

.nav-item.with-border:hover {
  border-bottom-color: wheat; /* Visible on hover */
}
.navbar.hidden {
  opacity: 0; /* Fade out the navbar */
  transform: translateY(-100%); /* Hide the navbar by moving it up */
}

.navbar.visible {
  opacity: 1; /* Fade in the navbar */
  transform: translateY(0); /* Bring the navbar back to its original position */
}
.navbar img {
  height: 100%;
  margin-right: 1rem;
}

.navbar-right {
  display: flex;
  align-items: center;
  margin-left: auto; /* Push the navbar-right section to the right end */
}

.logo-style {
  margin-left: 1rem;
  font-size: 1rem;
  color: wheat; /* Ensure text color matches your theme */
}

.navbar-right h3 {
  margin-right: 2rem; /* Space between navigation items */
}

